@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&family=Rubik:ital,wght@1,300&display=swap');

*{
    box-sizing: border-box;
    outline: none;
}

body{
    margin: 0;
    background-color:  #EAEAEA;
    font-family: 'Montserrat';
    
}

.wrapper{
    max-width: 1110px;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .headerLeft{
        display: flex;
        align-items: center;
    }
    h3{
        margin: 0;
        font-size: 25px;
        font-weight: bold;
        text-align: left;
    }
    .headerRight{
        ul{
            margin: 0;
            padding: 0;
            display: flex;
        }
        li{
            list-style-type: none;
            margin: 10px;
        }
        svg{
            margin-right: 10px;
        }
    }
}

.banner{
}

.cases{
    .items{
        display: flex;
        max-width: 1110px;
        
    }
    h1{
        margin: 0;
        font-size: 20px;
        text-align: left;
        font-weight: bolder;
        color: #838383;
    }
}



.earpods{
    .items{
        display: flex;
    }
    h1{
        margin: 0;
        font-size: 20px;
        text-align: left;
        font-weight: bolder;
        color: #838383;
        margin-bottom: 20px;
    }
    
}


