
.cardCases{
        background-color: #FFFFFF;
        padding: 20px;
        height: 407px;
        width: 350px;
        border-radius: 30px;
        margin-right: 30px; 
        margin-top: 20px;
        margin-bottom: 40px; 
        transition: transform 0.2s ease-in-out, box-shadow 0.2 ease-in-out;

        &:hover{
            box-shadow: 0px 5px 5px #c9c1c1;
            transform: translateY(-10px);
        }  
    }

    .casebutton img{
        display: flex;
        margin-right: auto; 
        margin-left: auto;
    }
    p{
        text-align: center;
        font-weight: 600;
        font-size: 17px;
        
    }